

<div class="topoPrincipal">
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
        <div class="container">
            <div class="row">        
                <div class="mx-auto order-0" id="navbarSupportedContent">
                    <ul class="nav justify-content-center">
                        <li class="nav-item active">
                            <a class="nav-link" routerLinkActive="active" routerLink="">Início</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" routerLink="/cadastro-produto">Cadastrar Produto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" routerLink="/editar-produto">Listar Produtos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" routerLink="/entrada-listar">Histórico Entradas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" routerLink="/saida-listar">Histórico Saídas</a>
                        </li>

                        <li class="nav-item dropdown" id="navbarDropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" ><i class="fas fa-user-alt"></i>
                                {{nameUser}}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
                                <a [routerLink]="['/editar-usuario', idUser]" class="dropdown-item"  href="#" ><i class="fas fa-user-edit"></i> Editar Perfil </a >
                                <div class="dropdown-divider"></div>
                                <a (click)="logout()" class="dropdown-item" href="#"><i class="fas fa-sign-out-alt"></i> Sair</a>
                            </div>
                        </li>                       
                    </ul>
                </div>
            </div>
        </div> 
    </nav>
</div>

<div class="banner">
    <img src="/assets/images/mercadinho.png" />
</div>


<!-- [routerLink]="['/editar-usuario', {{}}]" -->

