<app-tela-principal></app-tela-principal>

<div class="container">
    <div class="cadastroProduto">

    
    <h5>DADOS DE CADASTRO DE PRODUTO</h5>
    <hr />
    <div class="row  justify-content-center">      
        <form [formGroup]="cadProduto" novalidate (ngSubmit)="cadastrarProduto()">      
            <div class="form-row">
                <div class="form-group col-md-6">
                    <strong><label> Nome de Produto:</label></strong>
                    <input 
                    type="text" 
                    class="form-control"  
                    placeholder="Ex: Arroz"        
                    autocomplete="off" 
                    formControlName=nomeProduto              
                    >                 
                  <small *ngIf="cadProduto.get('nomeProduto').valid && cadProduto.get('nomeProduto').touched" class="form-text text-success">OK</small>
                  <small *ngIf="!cadProduto.get('nomeProduto').valid && cadProduto.get('nomeProduto').touched" class="form-text text-danger">CAMPO INVÁLIDO</small>
                </div>
        
                <div class="form-group col-md-6">
                    <strong><label> Código de Produto:</label></strong>
                  <input 
                    type="text" 
                    class="form-control" 
                    placeholder="Ex: 111000"
                    autocomplete="off" 
                    formControlName = codigo
                  >  
                  <small *ngIf="cadProduto.get('codigo').valid && cadProduto.get('codigo').touched" class="form-text text-success">OK</small>
                  <small *ngIf="!cadProduto.get('codigo').valid && cadProduto.get('codigo').touched" class="form-text text-danger">CAMPO INVÁLIDO</small>           
                </div>
        
                <div class="form-group col-md-4">
                    <input type="text"
                     class="form-control" 
                     placeholder="Ex: 10" 
                     autocomplete="off" 
                     formControlName="preco"           
                     >
                     <!-- <span>{{preco : mask 'separator,'}}</span> -->
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                
                   <strong><label> Estoque de Produto:</label></strong>
                    <input 
                    type="text" 
                    class="form-control" 
                    placeholder="Ex: 1"
                    autocomplete="off" 
                    formControlName="estoque"
                    >  
                    <small *ngIf="cadProduto.get('estoque').valid && cadProduto.get('estoque').touched" class="form-text text-success">OK</small>
                    <small *ngIf="!cadProduto.get('estoque').valid && cadProduto.get('estoque').touched" class="form-text text-danger">CAMPO INVÁLIDO</small>                     
                </div>               
            </div>  
            <hr />
             <div > 
                <button 
                type="submit" 
                class="btn btn-primary btn-lg"
                >CONFIRMAR PRODUTO</button> 
            </div>  
             
            <div style="position:relative; top:-42px; left: 50%;"> 
                <button 
                type="submit" 
                class="btn btn-danger"
                >VOLTAR</button> 
            </div>           
        </form>
    </div>
</div>
</div>

