
<div class="conta">
    <div class="conta-user">
        <h2 class="text-center">CRIAR MINHA CONTA</h2>
        <div class="text-center" *ngIf="!alert">
            <div class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>ERRO DO SERVIDOR!</strong> ERRO AO TENTAR CADASTRAR USUÁRIO. 
            </div>
          </div>
        <br>   
        <form [formGroup]="cadUsuario" novalidate class="conta-form" (ngSubmit)="cadastrarUsuario()" >            
            <div class="form-group">
                <input type="text"  
                placeholder="Usuário" 
                class="form-control"  
                autocomplete="off" 
                formControlName=nomeUsuario 
                oninput="this.value = this.value.toUpperCase()"     
                >	  
                <small *ngIf="!cadUsuario.get('nomeUsuario').valid && cadUsuario.get('nomeUsuario').touched" class="form-text text-danger">NOME INVÁLIDO</small>
            </div>
                
            <div class="form-group">
                <input type="password" 
                placeholder="Senha"  
                class="form-control"
                autocomplete="off" 
                formControlName=senhaUsuario 
                > 
                <small *ngIf="!cadUsuario.get('senhaUsuario').valid && cadUsuario.get('senhaUsuario').touched" class="form-text text-danger">SENHA INVÁLIDA</small>
            </div>
            <br />
            <button 
            type="submit" 
            class="btn btn-primary btn-lg"
            >Criar Usuario</button>          
            <button type="button" class="btn btn-link btn-block" [routerLink]="['']">Voltar</button> 
        </form>         
    </div>
</div>

