<app-tela-principal></app-tela-principal>

<div class="container">
    <div class="cadastroProduto">
    <h5>EDITAR PRODUTO</h5>
    <hr />
    <div class="row  justify-content-center">      
        <form [formGroup]="cadProduto"  novalidate (ngSubmit)="AtualizarProduto()" >      
                <div class="form-row">        
                    <div class="form-group col-md-6">
                        <strong><label> Nome de Produto:</label></strong>
                        <input 
                        type="text" 
                        class="form-control"                 
                        autocomplete="off" 
                        formControlName=nomeProduto              
                        >                 
                      <small *ngIf="!cadProduto.get('nomeProduto').valid && cadProduto.get('nomeProduto').touched" class="form-text text-danger">CAMPO INVÁLIDO</small>
                    </div>

                    <div class="form-group col-md-6">
                        <strong><label> Código de Produto:</label></strong>
                        <input 
                        type="text" 
                        class="form-control"          
                        autocomplete="off" 
                        formControlName = codigo
                      >  
                      <small *ngIf="!cadProduto.get('codigo').valid && cadProduto.get('codigo').touched" class="form-text text-danger">CAMPO INVÁLIDO</small>           
                    </div>

                    <div class="form-group col-md-4">
                        <strong><label> Preço:</label></strong>
                        <input
                         class="form-control"          
                         autocomplete="off" 
                         formControlName="preco"                 
                         currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"      
                         >
                         <small *ngIf="!cadProduto.get('preco').valid && cadProduto.get('preco').touched" class="form-text text-danger">CAMPO INVÁLIDO</small>
                    </div>

                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">            
                       <strong><label> Estoque de Produto:</label></strong>
                        <input 
                        type="number" 
                        class="form-control" 
                        autocomplete="off" 
                        formControlName="estoque"
                        >  
                        <small *ngIf="!cadProduto.get('estoque').valid && cadProduto.get('estoque').touched" class="form-text text-danger">CAMPO INVÁLIDO</small>                     
                    </div>               
                </div>            
            <hr />
            <div class="col text-center"> 
                <button 
                type="submit" 
                class="btn btn-primary btn-lg"
                >ATUALIZAR PRODUTO</button> 
            
                <button style="margin:20px;" 
                (click)="voltar()" 
                class="btn btn-danger" 
                >VOLTAR</button>
            </div>       
        </form>
    </div>
</div>
</div>