<div class="login">
    <div class="account-login">
    	<h1>Login</h1>
		<div class="iconLogin">
			<i class="fas fa-user"></i>		
		</div>
        <form novalidate class="login-form" [formGroup]="login"  (ngSubmit)="verificar()" >            
          	<div class="form-group">
                <input type="text"  
                placeholder="Usuário" 
                class="form-control"      
                autocomplete="off" 
                formControlName=loginUsuario 
                oninput="this.value = this.value.toUpperCase()"     
                >	
                <small *ngIf="!login.get('loginUsuario').valid && login.get('loginUsuario').touched" class="form-text text-danger">NOME DE USUÁRIO INVÁLIDO</small>               
            </div>
                
            <div class="form-group">
                <input type="password" 
                placeholder="Senha"  
                class="form-control"
                autocomplete="off" 
                formControlName=loginSenha
                >   
                <small *ngIf="!login.get('loginSenha').valid && login.get('loginSenha').touched" class="form-text text-danger">SENHA DE USUÁRIO INVÁLIDA</small>                                     
            </div>
            <br />
            <button 
            type="submit" 
            class="btn btn-primary btn-lg"
            >Logar</button>
            <div class="alerta" *ngIf="alerta === false">Usuário ou senha inválidos</div>   
            <button type="button" class="btn btn-link btn-block" [routerLink]="['/criar-conta']">Criar conta</button> 
        </form>         
    </div>
</div>

