<div class="login">
    <div class="account-login">
    	<h1>Login</h1>
		<div class="iconLogin">
			<i class="fas fa-user"></i>		
		</div>
        <form novalidate class="login-form"  #login="ngForm" (ngSubmit)="verificar()" >            
          	<div class="form-group">
                <input type="text"  
                placeholder="Usuário" 
                class="form-control"      
                name="login"
                ngModel
                #inputLogin="ngModel"  
                oninput="this.value = this.value.toUpperCase()"     
                >	               
            </div>
                
            <div class="form-group">
                <input type="password" 
                placeholder="Senha"  
                class="form-control"
                name="senha"
                ngModel
                #inputSenha="ngModel"
                >                         
            </div>
            <br />
            <button 
            type="submit" 
            class="btn btn-primary btn-lg"
            >Logar</button>
            <div class="alerta" *ngIf="alerta === false">Usuário ou senha inválidos</div>   
            <button type="button" class="btn btn-link btn-block" [routerLink]="['/criar-conta']">Criar conta</button> 
        </form>         
    </div>
</div>

