h5{
    text-align: center;
}
p{
    text-align: center;
    font-size: 2em;
}
.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}
button{
    margin-top: 50px;
    margin-bottom: 50px;
}
a{
    width:250px;
    margin-left: 60px
}