<app-tela-principal></app-tela-principal>

<div class="container">
    <h5>CONFIRMAR VENDA DE PRODUTO</h5>
    <hr />
    <form [formGroup]="entradaProduto" novalidate >
        <div class="form-row">
          
            <div class="col-md-2 mb-3">
            <label>Data</label>
            <input class="form-control"
            [value]="entradaProduto.get('data').value | date: 'short'"
            formControlName="data"    
           
            
            >
            
          </div>
          <div class="col-md-3 mb-3">
            <label>Código Produto</label>
            <input type="text" 
            class="form-control"
            formControlName=codigo
            
            >
            
          </div>
          <div class="col-md-6 mb-3">
            <label>Nome Produto</label>
            <input type="text" 
            class="form-control"
            formControlName=nomeProduto
            >     
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-2 mb-3">
            <label>Valor Produto</label>
            <input type="text" 
            class="form-control" 
            formControlName=preco
            currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
            
            >
          </div>

          <div class="col-md-2 mb-3">
            <label for="validationServer05">Quantidade</label>
            <input type="number" 
            class="form-control" 
            formControlName=quantidade
            (change)="onChange($event)"
            
            >       
          </div>
          
        </div>
        <div class="card text-white bg-primary mb-3" style="max-width: 13rem;" >
            <div class="card-body">
              <h5 class="card-title">TOTAL:</h5>
              <p class="card-text" 
              name="total" 
              ngDefaultControl
              formControlName=total            
              >{{totalProduto |  currency : 'BRL'}}</p>           
            </div>
          </div> 
          <hr />
          <div class="col text-center" > 
              <button 
              type="submit" 
              class="btn btn-primary btn-lg"
              >CONFIRMAR VENDA</button> 
              <a [routerLink]="['/editar-produto']" class="btn btn-danger">VOLTAR</a>
          </div>  
      </form>
</div>
