<div class="conta">
    <div class="conta-user">
    	<h2 class="text-center">CRIAR MINHA CONTA</h2>
        <br>
        <form novalidate class="conta-form"  #criarConta="ngForm" (ngSubmit)="onSubmit()" >            
            <div class="form-group">
                <input type="text"  
                placeholder="Usuário" 
                required
                minlength="5"
                class="form-control"      
                name="login"
                ngModel
                #inputNome="ngModel"  
                oninput="this.value = this.value.toUpperCase()"     
                >	  
                <small *ngIf="inputNome.valid && inputNome.touched" class="form-text text-success">Ok</small>
                <small *ngIf="!inputNome.valid && inputNome.touched" class="form-text text-danger">Nome inválido</small>
            </div>
                
            <div class="form-group">
                <input type="password" 
                placeholder="Senha"  
                required
                minlength="5"
                class="form-control"
                name="senha"
                ngModel
                #inputSenha="ngModel"
                >    
                <small *ngIf="inputSenha.valid && inputSenha.touched" class="form-text text-success">Ok</small>
                <small *ngIf="!inputSenha.valid && inputSenha.touched" class="form-text text-danger">Senha inválido</small>                            
            </div>
            <br />
            <button 
            type="submit" 
            class="btn btn-primary btn-lg"
            >Criar Usuario</button>          
            <button type="button" class="btn btn-link btn-block" [routerLink]="['']">Voltar</button> 
        </form>         
    </div>
</div>

