<app-tela-principal></app-tela-principal>

<div class="container">
    <h5>LISTA DE PRODUTOS</h5>
    <hr />
      <div class="pesquisar">
        <div class="input-group">
          <input type="text" 
          id="pesquisar"
          class="form-control"  
          placeholder="Pesquisar Produto"
          #variavelPesquisa  
          oninput="this.value = this.value.toUpperCase()" 
          (input)="pesquisar(variavelPesquisa.value)" 
          >
          <!-- <span class="input-group-addon">
            <button class="fa fa-search" style="background:transparent;border:none"></button>
          </span> -->
        </div>
      </div>
    <br>
    <table  id="produtoTable">
      <tr>
        <th>Código</th>
        <th>Nome do Produto</th>
        <th>Preço Custo</th>
        <th>Preço Venda</th>
        <th>Quantidade</th>    
        <th width="200px">Ação</th>
        <th width="200px">Entrada e Saída</th>
      </tr>
      <tr *ngFor="let listaProduto of produto | paginate: produtoPaginacao"  >  
        <td>{{listaProduto.codigo_produto}}</td>
        <td>{{listaProduto.nome_produto}}</td>    
        <td>{{listaProduto.preco_custo | currency: 'R$'}}</td>
        <td>{{listaProduto.preco_venda | currency: 'R$'}}</td>
        <td>{{listaProduto.estoque}}</td>
        <td>       
          <a [routerLink]="['/editar-produto', listaProduto.produto_id]"  class="btn btn-primary">Editar</a>
          <button style="margin:10px;" type="button" (click)="deletePost(listaProduto.produto_id)" class="btn btn-danger">Deletar</button>
        </td>
        <td>       
          <a [routerLink]="['/entrada-produto', listaProduto.produto_id]" class="btn btn-primary">Entrada</a> 
          <button [routerLink]="['/saida-produto', listaProduto.produto_id]" style="margin:10px;" type="button" class="btn btn-success">Saída</button>
        </td>
      </tr>
    </table>
    <!--  Personalizar vários elementos na paginação -->
    <pagination-controls 
                         [maxSize]="maxSize"
                         [directionLinks]="directionLinks"
                         [autoHide]="autoHide"
                         [responsive]="responsive"
                         [previousLabel]="labels.previousLabel"
                         [nextLabel]="labels.nextLabel"
                         (pageChange)="onPageChange($event)">
    </pagination-controls>
 </div>
