<app-tela-principal></app-tela-principal>


<div class="container">
    <h5>LISTA DE PRODUTOS</h5>
    <hr />
    <table  id="produtoTable">
      <tr>
        <th>Código</th>
        <th>Nome do Produto</th>
        <th>Preço do Produto</th>
        <th>Quantidade</th>
       
        <th width="170px">Ação</th>
      </tr>
      <tr *ngFor="let listaProduto of produto" >  
        <td>{{listaProduto.codigo}}</td>
        <td>{{listaProduto.nome}}</td>
        <td>{{listaProduto.preco}}</td>
        <td>{{listaProduto.estoque}}</td>
        <td>       
          <a  [routerLink]="['/editar-produto', listaProduto.id]"  class="btn btn-primary">Editar</a>
          <button type="button" (click)="deletePost(listaProduto.id)" class="btn btn-danger">Deletar</button>
        </td>
      </tr>
    </table>
 </div>
