<app-tela-principal></app-tela-principal>

<div class="jumbotron jumbotron-fluid"> 
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">ENTRADA:</h5>
              <p class="card-text">{{valor |  currency : 'BRL'}}</p>           
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">SAÍDA:</h5>
              <p class="card-text"> {{valor |  currency : 'BRL'}} </p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
