<app-tela-principal></app-tela-principal>

<div class="text-center" *ngIf="!alert">
  <div class="alert alert-danger alert-dismissible">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>ERRO DO SERVIDOR!</strong> ERRO AO TENTAR REALIZAR AÇÃO. 
  </div>
</div>

<div class="container">
    <h5>CONFIRMAR SAÍDA DE PRODUTO</h5>
    <hr />
    <form [formGroup]="cadSaidaProduto" novalidate (ngSubmit)="cadastroSaidaProduto()" >

        <div class="form-row">     
            <div class="col-md-2 mb-3">
                <strong><label>Data</label></strong>
                <input class="form-control"     
                formControlName="data"     
                [attr.disabled]="true"
                >   
            </div>
            <div class="col-md-3 mb-3">
                <strong><label>Código Produto</label></strong>
                <input type="text" 
                class="form-control"
                formControlName=codigo
                [attr.disabled]="true"
                >
            
            </div>
            <div class="col-md-6 mb-3">
                <strong><label>Nome Produto</label></strong>
                <input type="text" 
                class="form-control"
                formControlName=nomeProduto
                [attr.disabled]="true"
                >     
            </div>
        </div>

        <div class="form-row">
          <div class="col-md-2 mb-3">
            <strong><label>Preço Custo</label></strong>
            <input type="text" 
            class="form-control" 
            formControlName=precoCusto
            currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
            [attr.disabled]="true"        
            >
          </div>

          <div class="col-md-2 mb-3">
            <strong><label>Preço Venda</label></strong>
            <input type="text" 
            class="form-control" 
            formControlName=precoVenda
            currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
            [attr.disabled]="true"        
            >
          </div>

          <div class="col-md-2 mb-3">
            <strong><label>Quantidade</label></strong>
            <input type="number" 
            class="form-control" 
            formControlName=quantidade
            (change)="onChange($event)"     
            >       
          </div>
          
        </div>
        <div class="card text-white bg-primary mb-3" style="max-width: 13rem;" >
            <div class="card-body">
              <h5 class="card-title">TOTAL:</h5>
              <p class="card-text" 
              name="total" 
              ngDefaultControl
              formControlName=total            
              >{{totalProduto |  currency : 'BRL'}}</p>           
            </div>
        </div> 
        <hr />
        <div class="col text-center"> 
            <button 
            type="submit" 
            class="btn btn-primary btn-lg"
            >CONFIRMAR SAÍDA</button> 

            <button style="margin:20px;" 
            (click)="voltar()" 
            class="btn btn-danger" 
            >VOLTAR</button>
        </div>  
    </form>
</div>
